@font-face {
  font-family: aktiv-grotesk;
  src: url(../fonts/aktivgrotesk-bold.woff2) format("woff2"), url(../fonts/aktivgrotesk-bold.woff) format("woff"), url(../fonts/aktivgrotesk-bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: aktiv-grotesk;
  src: url(../fonts/aktivgrotesk-medium.woff2) format("woff2"), url(../fonts/aktivgrotesk-medium.woff) format("woff"), url(../fonts/aktivgrotesk-medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: aktiv-grotesk;
  src: url(../fonts/aktivgrotesk-regular.woff2) format("woff2"), url(../fonts/aktivgrotesk-regular.woff) format("woff"), url(../fonts/aktivgrotesk-regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: gt-super;
  src: url(../fonts/gt-super-display-medium.woff2) format("woff2"), url(../fonts/gt-super-display-medium.woff) format("woff"), url(../fonts/gt-super-display-medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}

body {
  background-color: rgb(11, 39, 72);
  color: white;
  margin: 0;
  padding: 20px;

}



#image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.iframe-container {
  width: 220px;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.iframe-container iframe {
  width: 100%;
  height: 220px;
  border: none;
}

.apply-button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: rgb(11, 39, 72);
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.apply-button:hover {
  background-color: #0056b3;
}

section.header-hero.viewed.in-view {
  margin-top: 150;
  font-size: 45px;
}