
navbar{
    display: inline;
}

*{
    background-color: rgb(48, 116, 82);
}

h1{
    font-family: "Aesthet Nova W05 Black";
}

navbar{
    font-family: "Aesthet Nova W05 Black";
    color: rgb(255, 239, 193);
    margin: 10px 5px;   
}

.swiper {
    width: 80%;
    height: fit-content;
  }

  .swiper-slide img{
    width:100% ;
  }

  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  